body, html {
    height: 100%;
}

.shapes-app {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    height: 100%;
}

.header-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 128px;
    alignment-baseline: text-before-edge;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
}

.header-container .btn {
    margin-right: 15px;
    height: 60px;
}

footer.page-footer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-grow: 0;

    -ms-flex-positive: 0;

    flex-grow: 0;
    alignment-baseline: central;
    margin: 0px;
    padding: 0;
}

footer.copyright {
    margin-left: 10px;
}

.copyright {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    margin-left: 15px;
}

.tool-bar {
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}

a.brand-logo {
    position: initial;
    left: 0;
}

a.logo {
    color: #fff;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: inline-block;
    font-size: 2.1rem;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    margin-left: 15px;
}

.working-area {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.paint-wall {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.paint-wall svg {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
}

.info-box {
    position: absolute;
    bottom: 40px;
    left: 15px;
    width: 200px;

}

.info-box .collection-item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
}

.info-box .collection-item span:first-child {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.modal-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    top: 0;
    left: 0;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
}

.modal {
    max-height: 80%;
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    z-index: 15;
}

.modal-content {
    overflow: auto;
}

.modal-footer {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.modal ul li,
.modal ul {
    list-style-type: circle;
    list-style-position: inside;
}

/* trick to make onclick event work on the svg */
svg {
    position: relative
}

circle.point {
    fill: transparent;
    stroke: red;
    -webkit-animation: place-point 500ms 0s 1 ease-out;
    animation: place-point 500ms 0s 1 ease-out;
    -webkit-transform-origin: inherit;
    transform-origin: inherit;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.safari circle.point {
    -webkit-animation: none;
    animation: none;
}

.firefox circle.point {
    transition: none;
}

circle.point:hover {
    cursor: pointer;
    stroke-width: 1.5;
    -webkit-transform-origin: inherit;
    transform-origin: inherit;
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
}
.firefox circle.point:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
    stroke-width: 2;
}
circle.circle {
    stroke: yellow;
}

@-webkit-keyframes place-point {
    0% {
        opacity: 0;
        -webkit-transform-origin: inherit;
        transform-origin: inherit;
        -webkit-transform: scale(0.1);
        transform: scale(0.1)
    }
    50% {
        opacity: 0.5;
        -webkit-transform-origin: inherit;
        transform-origin: inherit;
        -webkit-transform: scale(2);
        transform: scale(2)
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: inherit;
        transform-origin: inherit;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes place-point {
    0% {
        opacity: 0;
        -webkit-transform-origin: inherit;
        transform-origin: inherit;
        -webkit-transform: scale(0.1);
        transform: scale(0.1)
    }
    50% {
        opacity: 0.5;
        -webkit-transform-origin: inherit;
        transform-origin: inherit;
        -webkit-transform: scale(2);
        transform: scale(2)
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: inherit;
        transform-origin: inherit;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}