body, html {
    height: 100%;
}

.shapes-app {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    height: 100%;
}

.header-container {
    display: flex;
    flex-direction: row;
    height: 128px;
    alignment-baseline: text-before-edge;
    align-items: center;
    align-content: space-around;
}

.header-container .btn {
    margin-right: 15px;
    height: 60px;
}

footer.page-footer {
    display: flex;
    
    flex-grow: 0;
    alignment-baseline: central;
    margin: 0px;
    padding: 0;
}

footer.copyright {
    margin-left: 10px;
}

.copyright {
    flex-grow: 1;
    align-self: center;
    margin-left: 15px;
}

.tool-bar {
    flex-grow: 0;
}

a.brand-logo {
    position: initial;
    left: 0;
}

a.logo {
    color: #fff;     
    flex-grow: 1;
    display: inline-block;
    font-size: 2.1rem;
    align-self: center;
    margin-left: 15px;
}

.info-box {
    position: absolute;
    bottom: 40px;
    left: 15px;
    width: 300px;
    
}

.working-area {
    display: flex;
    flex-grow: 1;
}

.paint-wall {
    display: flex;
    flex-grow: 1;
}

.paint-wall svg {
    flex-grow: 1;
    width: 100%;
}

circle.point {
    fill: transparent;
    stroke: black;
    animation: place-point 0.5s 0s 1 ease-out;
    transform-origin: inherit;
    transition: transform 0.5s;
}

circle.point:hover {
    cursor: pointer;
    stroke-width: 1.5;
    transform: scale(1.25);
}

@keyframes place-point {
    0% {
        opacity: 0;
        transform: translate(0) scale(0.1)
    }
    50% {
        opacity: 0.5;
        transform: translate(0) scale(2)
    }
    100% {
        opacity: 1;
        transform: translate(0) scale(1)
    }
}